@font-face {
    font-family: 'minecraftia';
    src: url(Fonts/Minecraftia.ttf);
}

* {
    font-family: minecraftia;
}

.navLogo {
    height: 60px;
    width: auto;


}

.navbar {
    padding: 15px;
    align-items: left;
    padding-bottom: 5%;

}

.navbar a{
    margin: 0 20px;
    font-size: 20;
    color: white;
    text-decoration: none;
}

.navbar a:hover{
    color: gold;

}

.navbar img{
    height: 4em;
    padding: 0 16px;

}

body {
    background-image: url(Assets/nightsky.png);
    overflow: hidden;
    display: flex;
}

#mainDiv {
    color: #ffffffef;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#MainText {
    color: #ffffffef;
    text-align: center;
    font-weight: normal;
    font-style: normal; 
    
}

#comingSoon{
    font-size: x-large;
}

#Discordlink img{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    height: auto;
    width: 20%;
    
}


.footerContainer{
    color: #ffffffef;
    font-size: x-small;
    font-weight: normal;
    font-style: normal; 
    position: absolute;
    bottom: 10px;

}
.footerContainer a{
    color: #ffffffef;;
}

#MainAbout {
    color: #ffffffef;
    padding-top: 10px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
    align-items: center;
}
