@font-face {
    font-family: 'minecraftia';
    src: url(Fonts/Minecraftia.ttf);
}

body {
    background-image: url(Assets/nightsky.png);
    overflow: hidden;
    display: flex;
}

#mainDiv {
    color: #ffffffef;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 8;
    align-items: center;
    justify-content: center;
    display: flex !important;
    flex-direction: column !important;
}

#MainText {
    color: #ffffffef;
    text-align: center !important;
    font-family: 'minecraftia';
    font-weight: normal;
    font-style: normal; 
    
}

#comingSoon{
    font-size: x-large;
}

#Discordlink img{
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    height: auto;
    width: 20%;
    
}


.footerContainer{
    color: #ffffffef;
    font-size: x-small;
    font-family: 'minecraftia';
    font-weight: normal;
    font-style: normal; 
    position: absolute;
    bottom: 10px;

}
.footerContainer a{
    color: #ffffffef;;
}
